@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #EFEBE5;
}

/* #menu {
    position: fixed;
    width: 100%;
} */

header {
    width: 100%;
    padding: 30px;
    /* height: 100px; */
    background-color: #faf8f6;
    text-align: center;
    /* border-bottom: 2px solid #000000; */
}

header a {
    margin: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}

/* nav {
    margin: 30px;
} */

main {
    width: 100%;
    height: 100%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: 100;
    color: black;
    padding: 20px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.514) 0.01em 0.06em 0.6em;
}

/* section {
    background-color: #EFEBE5;
} */

section.aboutMe,
section.jobs,
section.cont3 {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    /* margin: 10px 100px 50px 150px; */
}

/* .aboutMe {
    height: ;
} */

button {
    width: 90px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #ececec;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.171) 0.2em 0.2em 0.6em;
}

button:hover {
    transform: scale(1.05);
}

a button {
    color: black;
    text-decoration: none;
}

section.author {
    width: 800px;
    height: 500px;
    margin: auto;  
    text-align: center;
}

.author p {
    text-align: justify;
}

img {
    text-align: center;
    margin: 10px;
    /* margin: 10px 30px 30px 50px; */
}

footer {
    width: 100%;
    height: 30px;
    background-color: #000000;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 8px 0 8px 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section.imagem {
    height: 550px;
    background-size: cover;
    /* background-attachment: fixed; */
}

section.imagem h2 {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.733) 0.01em 0.06em 0.6em;
}

section#img01 {
    width: 100%;
    background-image: url(../imagens/img01-baixa.jpg);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
    background-position: top center;
}

section#img02 {
    width: 100%;
    height: 400px;
    background-image: url(../imagens/img02-baixa.jpg);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
    background-position: top center;
    background-attachment: fixed;
}

section#img03 {
    width: 100%;
    background-image: url(../imagens/img02-baixa.jpg);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
    background-position: top center;
    background-attachment: fixed;
}

/* section.content {
    width: 50%;
} */

.logo {
    display: inline-block;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
    color: #9b5e18;
}

.logo2 {
    display: inline-block;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


/* .author p {
    max-width: 80%;
    text-align: center;
}  */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 980px;
    margin: auto;
    padding-top: 15px;
    grid-gap: 40px;
}

.card {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 35px 40px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
}

.card .user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.fotosPortfolio {
    width: 200px;
}

#menu {
    position: fixed;
    width: 100%;
}