@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #ececec;
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid #000000;
}

header a {
    margin: 30px;
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
}

main {
    width: 100%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: 100;
    color: black;
    margin: 30px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.514) 0.01em 0.06em 0.6em;
}

section.content,
section.cont2 {
    margin: 10px 100px 100px 100px;
}

img {
    text-align: center;
    margin: 10px 30px 30px 50px;
    width: 250px;
}

footer {
    width: 100%;
    height: 30px;
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 15px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.logo {
    display: inline-block;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 16px;
    color: #9b5e18;
}

.logo2 {
    display: inline-block;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

section.imagem {
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
}

section#img01 {
    width: 100%;
    background-image: url(../imagens/img01.jpg);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
}

section#img02 {
    width: 100%;
    background-image: url(../imagens/img02.jpg);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
}

section.content {
    width: 50%;
}

